<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script> 

    <title>Document</title>
</head>
<body>
    <header><span>Mi App</span></header>
    <main>
        hola
        {{{body}}}
    </main>
    <footer>footer</footer>
</body>
</html>